services:
  web:
    build: web
    ports:
      - "3000:3000"
    develop:
      watch:
        - action: sync+restart
          path: ./web
          target: /opt/app
    networks:
      - urifarmnet
    depends_on:
      redis:
        condition: service_started
      
  farmer:
    build: farmer
    develop:
      watch:
        - action: sync+restart
          path: ./farmer
          target: /opt/app
    networks:
      - urifarmnet
    volumes:
      - ${PWD}/out:/opt/app/out
    depends_on:
      redis:
        condition: service_started
    
  redis:
    image: redis:latest
    restart: always
    command: redis-server --save 20 1 
    volumes:
      - redis-data:/data
    networks:
      - urifarmnet

networks:
  urifarmnet:
    driver: bridge

volumes:
  redis-data:
    driver: local
